packer_compiled.lua
squashfs-root
nvim.appimage
.config/tmux/plugins/
.config/awesome/awesome-wm-widgets/
__pycache__/
History/
globalStorage/
workspaceStorage/
.emacs.d/eln-cache/
.emacs.d/elpa/
elpa/
.emacs.d/recentf
.emacs.d/transient/
.emacs.d/projectile-bookmarks.eld
.emacs.d/eshell
.emacs.d/*~
.emacs.d/auto-save-list/
wallpapers/current.jpg


